.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
  background-color: var(--neutral-white);
}

.navbar__start,
.navbar__end {
  display: flex;
  align-items: center;
  gap: 0.825rem;
}

/* brand name */
.navbar__brand h1 {
  margin: 0;
}

/* button reset */
.navbar__cart,
.navbar__menu-btn {
  border: none;
  background: none;
  display: flex;
}

/* profile */
.navbar__profile {
  border-radius: 50%;
  border: none;
}

.navbar__profile img {
  width: 1.715rem;
}

/* navbar lists */
.navbar__lists-wrapper {
  position: fixed;
  left: -100%;
  top: 0;
  min-height: 100vh;
  width: 65%;
  background-color: var(--neutral-white);
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  padding: 1.2rem;
}

.navbar__lists-wrapper.active {
  left: 0;
}

.navbar__lists {
  list-style: none;
  display: grid;
  gap: 1rem;
  padding-inline-start: 0;
  width: 100%;
}

.nav-links {
  width: 100%;
}

.navbar__lists a {
  text-decoration: none;
  color: var(--neutral-very-dark-blue);
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
}

.navbar__lists-close {
  border: none;
  background: none;
  padding: 0;
}

.overlay {
  background-color: var(--neutral-black-75);
  position: fixed;
  width: 100vw;
  height: 200vh;
  left: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 0.75;
  pointer-events: visible;
}

.navbar__end {
  position: relative;
}

.cart {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 99;
  border-radius: 10px;
  background-color: var(--neutral-white);
  font-weight: 700;
  max-width: 25rem;
  width: calc(100vw - 2rem);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.cart > p {
  padding: 1rem 1.5rem;
}

.cart__inventory {
  padding: 1rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid var(--border-line);
  color: var(--neutral-dark-grayish-blue);
}

.cart.active {
  opacity: 1;
  pointer-events: visible;
}

@media all and (width > 62.5rem) {
  header {
    display: flex;
    justify-content: center;
  }
  .navbar__menu-btn {
    display: none;
  }
  .navbar__lists-close {
    display: none;
  }
  .navbar__lists-wrapper {
    position: static;
    min-height: auto;
    width: auto;
    padding: 0 1rem;
  }
  .navbar__lists {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
  .navbar__lists a {
    color: var(--neutral-dark-grayish-blue);
  }
  .overlay {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .navbar__lists-wrapper {
    transition: left 200ms ease;
  }
  .overlay,
  .cart {
    transition:
      opacity 300ms ease,
      box-shadow 350ms ease;
  }
}
