:root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);

  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-black-75: hsl(0, 0%, 0%);

  --border-line: hsla(219, 9%, 45%, 0.2);
  --primary-orange-hover: hsla(26, 100%, 55%, 0.8);
  --font-base: "Kumbh Sans", sans-serif;
}
