*,
*::before,
*::after {
  box-sizing: border-box;
}

/* removed arrow button for number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.product-img::-webkit-scrollbar {
  display: none;
}
