.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
  background-color: var(--neutral-white);
}

.navbar__start,
.navbar__end {
  display: flex;
  align-items: center;
  gap: 0.825rem;
}

.navbar__brand-link {
  text-decoration: none;
  color: var(--neutral-very-dark-blue);
}

.navbar__brand-title {
  margin: 0;
}

.navbar__cart,
.navbar__menu-btn {
  border: none;
  background: none;
  display: flex;
}

.navbar__profile {
  border-radius: 50%;
  border: solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.navbar__profile:hover {
  border: solid var(--primary-orange);
}

.navbar__profile img {
  width: 1.715rem;
}

.navbar__lists-wrapper {
  position: fixed;
  left: -100%;
  top: 0;
  min-height: 100vh;
  width: 65%;
  background-color: var(--neutral-white);
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  padding: 1.2rem;
}

.navbar__lists-wrapper.active {
  left: 0;
}

.navbar__lists {
  list-style: none;
  display: grid;
  gap: 1rem;
  padding-inline-start: 0;
  width: 100%;
}

.nav-item {
  width: 100%;
}

.nav-links {
  text-decoration: none;
  color: var(--neutral-very-dark-blue);
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
}

.navbar__lists-close {
  border: none;
  background: none;
  padding: 0;
}

.navbar__end {
  position: relative;
}

@media all and (width > 62.5rem) {
  .navbar__menu-btn {
    display: none;
  }
  .navbar__lists-close {
    display: none;
  }
  .navbar__lists-wrapper {
    position: static;
    min-height: auto;
    width: auto;
    padding: 0 1rem;
    z-index: 1;
  }
  .navbar__lists {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
  .navbar__lists a {
    color: var(--neutral-dark-grayish-blue);
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  .navbar__lists a::before {
    content: "";
    height: 120%;
    width: 0;
    position: absolute;
    border-block-end: solid var(--primary-orange);
  }
  .navbar__lists a:hover {
    color: var(--neutral-very-dark-blue);
  }
  .navbar__lists a:hover::before {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .navbar__lists-wrapper {
    transition: left 200ms ease;
  }
  .cart {
    transition:
      opacity 300ms ease,
      box-shadow 350ms ease;
  }
  .navbar__lists a::before {
    transition: width 200ms ease;
  }
  .navbar__profile {
    transition: border 200ms ease;
  }
  .navbar__cart svg {
    transition: fill 200ms ease;
  }
}
