.overlay {
  background-color: var(--neutral-black-75);
  position: fixed;
  inset: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 0.75;
  pointer-events: auto;
}

@media all and (width > 62.5rem) {
  .overlay {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .overlay {
    transition: opacity 300ms ease;
  }
}
