.product {
  max-width: 1000px;
}

.product__img-wrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.product__img-wrapper button {
  position: absolute;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-btn {
  left: 1rem;
}

.next-btn {
  right: 1rem;
}

.product-img {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 0.5rem;
  scrollbar-width: none;
}

.product-img img {
  width: 100%;
  scroll-snap-align: center;
}

.product__img-thumbnail {
  display: none;
}

.product__content {
  padding: 1rem;
}

.product__manufacturer {
  margin-block-start: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--neutral-dark-grayish-blue);
  font-size: 0.825rem;
  letter-spacing: 0.1rem;
}

.product__title {
  font-size: clamp(2rem, 2vw + 1rem, 4rem);
  margin-block: 0;
}

.product__description {
  color: var(--neutral-dark-grayish-blue);
}

.product__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.original-price {
  text-decoration: line-through;
  color: var(--neutral-dark-grayish-blue);
  font-weight: 700;
}

.new-price {
  font-weight: 700;
  font-size: 1.725rem;
}

.product__final-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product__final-price .discount {
  background-color: var(--neutral-very-dark-blue);
  color: var(--neutral-white);
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  font-weight: 700;
}

.product__buy {
  display: grid;
  gap: 1rem;
}

.product__buy .quantity {
  display: flex;
  align-items: center;
  position: relative;
}

.product__buy .quantity button {
  position: absolute;
  border: none;
  background: none;
}

.increase {
  right: 1rem;
}

.decrease {
  left: 1rem;
}

.quantity img {
  pointer-events: none;
}

.product__buy .quantity input {
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  background-color: var(--neutral-light-grayish-blue);
}

.add-to-cart {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--primary-orange);
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: var(--primary-orange-hover);
}

.add-to-cart svg {
  fill: var(--neutral-very-dark-blue);
}

.lightbox-overlay {
  display: none;
}

.product__img-wrapper-lightbox {
  display: none;
}

@media all and (width > 62.5rem) {
  /* main { */
  /*   display: flex; */
  /*   justify-content: center; */
  /*   align-items: center; */
  /*   min-height: calc(100vh - 5.45rem); */
  /* } */
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
  .product-img {
    overflow: hidden;
  }
  .product-img img {
    border-radius: 10px;
  }
  .product__img-thumbnail {
    display: flex;
    gap: 1.5rem;
    width: 100%;
  }
  .product__img-thumbnail button {
    max-width: calc(25% - 1.125rem);
    aspect-ratio: 1;
    border-radius: 10px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
  }
  .product__img-thumbnail button:focus-visible {
    outline: solid var(--primary-orange);
  }
  .product__img-thumbnail button::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    inset: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease;
  }
  .product__img-thumbnail button:hover::before,
  .product__img-thumbnail button:focus-visible::before {
    opacity: 1;
  }
  .product__img-thumbnail img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    pointer-events: none;
    display: block;
  }
  .product__img-wrapper button {
    display: none;
  }
  .product__img-hero {
    max-width: 28rem;
    display: grid;
    gap: 2rem;
  }
  .product__price {
    display: grid;
  }
  .product__buy {
    grid-template-columns: 0.7125fr 1fr;
  }

  .product__img-wrapper-lightbox {
    display: none;
    gap: 1rem;
    width: 100%;
    position: absolute;
    width: min(90%, 30rem);
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 100;
  }

  .product__img-wrapper-lightbox.active {
    display: block;
  }

  .product-img-lightbox {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    border-radius: 10px;
    gap: 1rem;
  }

  .product-img-lightbox img {
    width: 100%;
    scroll-snap-align: center;
  }

  .product__img-wrapper-lightbox button {
    cursor: pointer;
  }

  .product__img-wrapper-lightbox > button:not(:first-of-type) {
    position: absolute;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    top: 40%;
    transform: translateY(-60%);
    justify-content: center;
    stroke: #1d2026;
  }

  .product__img-wrapper-lightbox > button:hover svg {
    fill: var(--primary-orange);
    stroke: var(--primary-orange);
  }

  .prev-btn-lightbox {
    left: -2rem;
  }
  .next-btn-lightbox {
    right: -2rem;
  }

  .product__img-thumbnail.lightbox {
    margin-block-start: 2rem;
  }

  .lightbox-overlay {
    position: fixed;
    background-color: var(--neutral-black-75);
    inset: 0;
    z-index: 99;
    opacity: 0;
    display: block;
    pointer-events: none;
  }

  .lightbox-overlay.active {
    opacity: 0.7;
    pointer-events: visible;
  }
  .product__img-close-btn {
    position: absolute;
    border: none;
    background: none;
    top: -2rem;
    right: 0;
    fill: #69707d;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .product__img-close-btn svg {
    transition: fill 200ms ease;
  }

  .product__img-wrapper-lightbox > button:not(:first-of-type) svg {
    transition: stroke 200ms ease;
  }

  .lightbox-overlay {
    transition: opacity 250ms ease;
  }

  .add-to-cart {
    transition: background-color 200ms ease;
  }
}
